
@media (max-width: 768px) {
    body {
        font-size: 40px;
    }

    h3 {
        font-size: 5vw;
    }

    .mode {
        gap: 10px;
    }

    button {
        width: 90px;
        height: 90px;
        font-size: 14px;
    }

    #retour {
        width: 60px;
        height: 30px;
        padding: 15px 30px;
    }
}
